:root {
    --color-highlight: #236FD9;
    --color-error: #D84143;
    --color-background: #FFFFFF;
    --color-paper: #FFF8F0;
    --color-ink: #14110D;
}
body {
    background-color: var(--color-background);
    color: var(--color-ink);
}
#sudoku-board {
    margin: auto;

    width: min-content;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-content: center;

    border-style: solid;
    border-color: var(--color-ink);
    border-width: 0.8vmin;
}

.sudoku-box {
    border-style: solid;
    border-color: var(--color-ink);
    border-width: 0.3vmin;
    width: min-content;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

.sudoku-cell {
    background-color: var(--color-paper);
    /* 9x9 grid, so 10vmin each takes up 90% of the available width/height */
    width: 10vmin;
    height: 10vmin;
    border-style: solid;
    border-color: var(--color-ink);
    border-width: 1px;

    hover: clicked;

    /* Text centering */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9vmin;
}
